p {
	margin: 0;
}

#ui-container {
	position: absolute;
	padding: 2rem;
	font-family: monospace;
}

#info {
	color: white;
}

#health-container,
#balance-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#health-heart-container,
#balance-token-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 1.5rem;
	margin-left: 0.25rem;
}

.heart {
	width: 1.15rem;
	height: 1.15rem;
	margin-right: 0.2rem;
}

.balance-token {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: -0.25rem;
	margin-bottom: -0.5rem;
}

#teleporter-info {
	line-height: 1.5rem;
}

#menu-container {
	display: flex;
	justify-content: space-between;
	width: 18rem;
	margin-block: 1.25rem;
}

#shop-shortcut-info,
#cheats-shortcut-info {
	width: 8rem;
}

#cheats-shortcut-info {
	opacity: 0.5;
}

#shop {
	display: none;
	grid-template-columns: repeat(3, 12rem);
	gap: 0.75rem;
}

.small-item,
.large-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 0.25rem;
	padding: 0.5rem;
	border: 0.15rem solid white;
	border-radius: 5px;
	text-align: center;
	color: white;
}

.small-item strong,
.large-item strong {
	display: block;
	margin-bottom: 0.15rem;
}

.small-item > img {
	height: 2.25rem;
}

.large-item {
	grid-area: 1 / 3 / span 2 / span 1;
}

.large-item > img {
	height: 10rem;
	margin-bottom: 0.5rem;
	border-radius: 5px;
}

#cheats {
	display: none;
	grid-template-columns: repeat(2, 15rem);
	grid-template-rows: repeat(2, 1fr);
	gap: 0.75rem;
	opacity: 0.5;
}

.cheat-shortcut {
	padding: 1rem;
	border: 0.15rem solid white;
	border-radius: 5px;
	text-align: center;
	color: white;
}
