/* TODO: style with lora font */

#shop-container {
	aspect-ratio: 7 / 4;
	width: 800px;
	background-color: #0c2a4e;
	display: flex;
	flex-direction: row;
}

/* upgrades panel  */

#upgrades-panel {
	width: 30%;
	margin: 20px;
	background-color: #90a2c6;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#upgrades-panel > h2 {
	text-align: center;
	font-size: 40px;
	margin: 0;
	padding: 0;
	color: #20306c;
}
.upgrade-name {
	font-size: 23px;
	text-align: center;
	margin: 0;
	padding: 0;
}

/* speed upgrade */
.speed-upgrade-container {
	margin-top: 9px;
}

.speed-upgrade-container .upgrade-name {
	color: #9fdeff;
}

.speed-upgrade-image {
	height: 70px;
}

/* max health upgrade  */

.max-health-upgrade-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.max-health-upgrade-container .upgrade-name {
	color: #383f89;
	text-align: center;
}

.max-health-upgrade-image {
	width: 70px;
}

/* teleporter upgrade */
.teleporter-upgrade-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.teleporter-upgrade-container .upgrade-name {
	text-align: center;
	color: #a74cad;
}

.teleport-upgrade-image {
	width: 120px;
}

/* cost  */
.cost {
	margin: 0;
	padding: 0;
	color: #e7e155;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
}

/* entire right side */
.right-panels-container {
	flex-grow: 1;
}

/* shop and balance */
.shop-and-balance-container {
	margin-top: 15px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.shop-text-container {
	width: 175px;
	background-color: #272c7f;
	border-radius: 5px;
	border: 2px solid #9fddff;
}

.shop-text-container > h1 {
	text-align: center;
	font-size: 43px;
	margin: 0;
	padding: 20px;
	font-weight: 600;
	color: #499eff;
}

/* all right panels  */
.right-panels-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* current balance  */
.current-balance-container {
	width: 310px;
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.current-balance-container > h3 {
	margin: 0 0 3px 0;
	padding: 0;
	text-align: center;
	display: block;
	color: #e7e155;
}

.balance-token-container {
	width: 90%;
	height: 60px;
	border: 2px solid yellow;
	border-radius: 7px;
}

/* bottom right panels  */
.bottom-right-panels-container {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 20px;
}

/* new ship */
.new-ship-icon-container {
	background-color: #375b84;
	height: 95%;
	width: 300px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.big-ship-image {
	width: 260px;
	border-radius: 5px;
}

#new-ship-upgrade-name {
	font-weight: 600;
	color: white;
}

/* close icon  */
.close-and-heal-icons-container {
	margin-left: 25px;
	width: 150px;
	height: 100%;
}

.close-button-container {
	border: 3px solid #ff0000;
	width: 125px;
	height: 125px;
	margin: auto;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
}

.close-icon-image {
	width: 85px;
	margin-top: 7px;
}

.close-text {
	color: #ff0000;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 25px;
}

.heal-button-container {
	border: 3px solid #61d568;
	width: 125px;
	height: 125px;
	margin: auto;
	margin-top: 20px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heal-cost {
	margin: 0;
	padding: 0;
}

.heal-icon-image {
	width: 65px;
	margin-top: 7px;
}

.heal-text {
	color: #61d568;
	text-align: center;
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 25px;
}
