p {
	margin: 0;
}

#shop-container {
	position: absolute;
	padding: 2rem;
	opacity: 0.85;
	font-family: monospace;
}

#shop {
	display: none;
	grid-template-columns: repeat(3, auto);
	gap: 1rem;
	margin-top: 1rem;
}

.small-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
	padding: 0.5rem;
	border: 0.15rem solid white;
	border-radius: 5px;
	color: white;
}

.small-item > img {
	height: 2.5rem;
	margin-bottom: 0.5rem;
}

.large-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 0.3rem;
	grid-area: 1 / 3 / span 2 / span 2;
	padding: 0.5rem;
	border: 0.15rem solid white;
	border-radius: 5px;
	color: white;
}

.large-item > img {
	height: 10rem;
	margin-bottom: 0.5rem;
	border-radius: 5px;
}

#info {
	color: white;
}

/* current balance  */
#current-balance-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#balance-token-container {
	height: 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.balance-token {
	width: 32px;
	height: 32px;
	margin-right: -15px;
}
